@import "../theme.css";

@import "./dashboard/dashboard.css";

@import "./goals/goals.css";
@import "./goals/goal-items.css";
@import "./categories/category-grid.css";

@import "./layout/layout.css";
@import "./layout/navbar.css";

@import "./components/pagination.css";
@import "./components/skeleton.css";

@import "./pages/profile.css";
@import "./pages/public.css";